<nav class="navbar navbar-success bg-success">
  <%= link_to "TWITTER", root_path, class: "text-decoration-none text-dark h4"%>

  <div class="ml-auto">

    <% if user_signed_in?  %>
      <%= link_to 'Log out', destroy_user_session_path,method: :delete, class: "btn
      btn-light mr-3"  %>
      <%= link_to 'Twittear', new_tweet_path, class: "btn
      btn-light mr-3" %>
      <% else %>
      <%= link_to 'Log in', new_user_session_path, class: "btn btn-light mr-3"%> 
      <%= link_to 'Register now', new_user_registration_path, class: "btn
      btn-light mr-3" %>
      <% end  %>
  </div>
</nav>
